* {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    color: rgb(10,10,10);
    margin: 0;
    padding: 0;
}

.page {
    display: flex;
    height: 100vh;

}

.container {
    display: grid;
    grid-template-columns: auto;
    margin: auto;
    text-align: center;
    /*background-color: red;*/
}

.container_world {
    background-color: black;
    color: white;
}

.container_friends {
    display: flex;
    flex-direction: column;
}